

body {
    background-image: url("./img/pattern-background-desktop.svg");
    background-repeat: no-repeat;
    margin: 0;
    background-color: hsl(225, 100%, 94%);
    box-sizing: border-box;
}

.container{
    
}